In [1]:
import decimal as dec

In [2]:
dec_value = dec.Decimal('2.5')
ans = dec_value ** 2
print(ans)

6.25

In [3]:
x = 7
id(x)

140219044207088

In [9]:
def cube(number):
    print('id(number):', id(number), number is x)
    return number ** 3
cube(x)

id(number): 140219044207088 True

343

In [10]:
def cube(number):
    print('id(number):', id(number), number is x)
    number **= 3
    print('id(number) after modification:', id(number), number is x)
    return number
cube(x)

id(number): 140219044207088 True
id(number) after modification: 140219118843216 False

343

In [13]:
width = 15.5
print(id(width))
width *= 2
print(id(width))

140219118845872
140219118842448

In [14]:
# p.variance
# Sum up values
# Calc their mean/average
# Subtract mean from every die value
# Square each of the results (the difference) - yield positives
# Calculate mean of the squares
# Squaring the values emphasizes the outliers

In [18]:
import statistics

# values further from the mean/ variance
statistics.pvariance([1,3,4,2,6,5,3,4,5,2])

2.25

In [19]:
# standard diviation
statistics.pstdev([1,3,4,2,6,5,3,4,5,2])

1.5

In [21]:
# values further from the mean/ variance
# degrees vs degrees squares
statistics.pvariance([19,32,28,35])

36.25

In [26]:
print('the mean is')
statistics.mean([1,1,1,2,2,2])

the mean is

1.5

In [27]:
print('each num in arr deviates by 0.5 from the mean')
statistics.pstdev([1,1,1,2,2,2])

each num in arr deviates by 0.5 from the mean

0.5

In [53]:
statistics.pvariance([0,0,0,10,10,10])

25

In [52]:
arr = [0,0,0,10,10,10]

the_mean = sum(arr)/len(arr)

difference_arr = []


for i in arr:
    # sum the difference from all the elements
    # divided by the lenght
    # square the result
    difference_arr.append((i - the_mean)**2)
    
print(difference_arr)
sum_of_difference = sum(difference_arr)
print(sum_of_difference/len(arr))

[25.0, 25.0, 25.0, 25.0, 25.0, 25.0]
25.0

In [46]:
c = [1,2,3]
print(c[0])
print(c[-1])
print(c[-2])

1
3
2

In [54]:
[x**2 for x in range(5)]

[0, 1, 4, 9, 16]

In [55]:
[(x,y) for x in range(3) for y in range(3)]

[(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2), (2, 0), (2, 1), (2, 2)]

In [56]:
[(x,y) for x in range(3) for y in range(3) if x % 2 == 0]

[(0, 0), (0, 1), (0, 2), (2, 0), (2, 1), (2, 2)]

In [68]:
def get_mean(pop):
    return sum(pop)/len(pop)

def get_pvariance(pop):
    local_mean = get_mean(pop)
    return sum([(x - local_mean) ** 2 for x in pop]) / len(pop)

pop = [0,0,0,10,10,10]

get_pvariance(pop)

25.0

In [62]:
a_list = []
for number in range(1,6):
    a_list += [number]
    
a_list

[1, 2, 3, 4, 5]

In [63]:
list1 = [1,2,3]
list2 = [4,5,6]
list1 + list2

[1, 2, 3, 4, 5, 6]

In [70]:
a = [1,2,3]
b = [1,2,3]
c = [1,2,3,4]
print(a == b)
print(a == c)
print(a < c)

True
False
True

In [72]:
def cube_list(arr):
    return [x**3 for x in arr]

cube_list(range(1,10))

[1, 8, 27, 64, 125, 216, 343, 512, 729]

In [77]:
characters = []
characters += ['Birthday']
characters2 = []
characters2 += 'Birthday'
print(characters)
print(characters2)

['Birthday']
['B', 'i', 'r', 't', 'h', 'd', 'a', 'y']

In [76]:
print([*'Birthday'])
arr = []
arr += "Birthday"
print(arr)

['B', 'i', 'r', 't', 'h', 'd', 'a', 'y']
['B', 'i', 'r', 't', 'h', 'd', 'a', 'y']

In [88]:
my_values = [1,2,3]
def cube_list(values):
    for i in range(len(values)):
        values[i] **= 3
    return values
        
print(cube_list(my_values))
print(cube_list([*range(10)]))

[1, 8, 27]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [95]:
tuple1 = (1,2,3)
tuple2 = tuple1
print(id(tuple1))
print(id(tuple2))

tuple1 += (10, 20)
print(tuple1)
print(tuple2)

140219118742336
140219118742336
(1, 2, 3, 10, 20)
(1, 2, 3)

In [104]:
single_tuple = (123.45,)
print(single_tuple)
single_tuple[0]

(123.45,)

123.45

In [106]:
my_list = [1,2,3,4]
my_tup = (3,7,9)
my_list + my_tup

TypeError: can only concatenate list (not "tuple") to list

In [108]:
student_tuple = ('Sara', [65,91,88])
student_tuple[1][0] = 100
print(student_tuple)

('Sara', [100, 91, 88])

In [111]:
student_tuple = ('Sara', [65,91,88])
first_name, grades = student_tuple
print(first_name)
print(grades)

Sara
[65, 91, 88]

In [114]:
num1, num2, num3 = range(3)
print(num1)
print(num2)
print(num3)

0
1
2

In [116]:
num1 = 99
num2 = 13

num1, num2 = num2, num1

print(num1)
print(num2)

13
99

In [118]:
colors = ['red', 'orange', 'yellow']
print(list(colors))
print(list(enumerate(colors)))

['red', 'orange', 'yellow']
[(0, 'red'), (1, 'orange'), (2, 'yellow')]

In [120]:
for index, value in enumerate(colors):
    print(f"{index}: {value}")

0: red
1: orange
2: yellow

In [130]:
arr = [19, 3, 15, 7, 11]
def plot_barchart(arr):
    print('index\tvalue\tbar')
    for index, value in enumerate(arr):
        print(index, value, '*'*value, sep='\t')

plot_barchart(arr)

index	value	bar
0	19	*******************
1	3	***
2	15	***************
3	7	*******
4	11	***********

In [133]:
'hey carl '*100

'hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl hey carl '

In [137]:
arr = [19, 3, 15, 7, 11]
def plot_barchart(arr):
    print('index\tvalue\tbar')
    for index, value in enumerate(arr):
        print(f'{index:>5} {value:8} {"*"*value}')

plot_barchart(arr)

index	value	bar
    0       19 *******************
    1        3 ***
    2       15 ***************
    3        7 *******
    4       11 ***********

In [148]:
high_low = ('Monday', 32, 26)
print(f'{"Day":10} {"High":10} {"Low":10}')
print(f'{high_low[0]:10} {high_low[1]:10} {high_low[2]:10}')

Day        High       Low
Monday             32         26

In [156]:
numbers = [2,4,5,7,11,12]
print(numbers[2:6])
print(numbers[:2])
print(numbers[2:])

[5, 7, 11, 12]
[2, 4]
[5, 7, 11, 12]

In [160]:
nums = [2,4,5,7,11,12]
nums_copy = nums[:]
print(id(nums))
print(id(nums_copy))

# observe slice gives shallow copy of numbers
print(id(nums[0]))
print(id(nums_copy[0]))

140219119991168
140219140205568
140219044206928
140219044206928

In [166]:
nums = [0,1,2,3,4,5,6,7,8]
print(nums[::2])
print(nums[::-1])
print(nums[::-2])

[0, 2, 4, 6, 8]
[8, 7, 6, 5, 4, 3, 2, 1, 0]
[8, 6, 4, 2, 0]

In [168]:
nums = [0,1,2,3,4,5,6,7,8]
nums[0:3] = []
print(nums)

[3, 4, 5, 6, 7, 8]

In [170]:
nums = [0,1,2,3,4,5,6,7,8]
nums[::2] = [100,100,100,100,100]
print(nums)

[100, 1, 100, 3, 100, 5, 100, 7, 100]

In [183]:
nums = [*range(1,15)]
print(nums[::2])

[1, 3, 5, 7, 9, 11, 13]

In [186]:
nums = [*range(1,15)]
nums[5:9] = [0] * len(nums[5:10])
print(nums)
print(nums[:5])

[1, 2, 3, 4, 5, 0, 0, 0, 0, 0, 10, 11, 12, 13, 14]
[1, 2, 3, 4, 5]

In [181]:
nums = [*range(1,15)]
print(nums)
nums[5:] = []
print(nums)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
[1, 2, 3, 4, 5]

In [187]:
nums = [1,2,3,4,5]
del nums[0:2]
print(nums)

[3, 4, 5]

In [188]:
nums = [*range(1,15)]
del nums[0:4]
print(nums)

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [189]:
nums = [*range(1,15)]
del nums[::2]
print(nums)

[2, 4, 6, 8, 10, 12, 14]

In [195]:
def modify_items(items):
    for i in range(len(items)):
        items[i] *= 2
    
        
numbers = [1,2,3,4,5]
modify_items(numbers)
print(numbers)

[2, 4, 6, 8, 10]

In [199]:
numbers = [100,6,1,3,8,4,8,14,85]
asc = numbers.sort()
print(numbers)
print(asc) # .sort Does not return anything

[1, 3, 4, 6, 8, 8, 14, 85, 100]
None

In [198]:
numbers = [100,6,1,3,8,4,8,14,85]
numbers.sort(reverse=True)
print(numbers)

[100, 85, 14, 8, 8, 6, 4, 3, 1]

In [201]:
numbers = [100,6,1,3,8,4,8,14,85]
sortedeNumbers = sorted(numbers)
print(numbers)
print(sortedeNumbers)

[100, 6, 1, 3, 8, 4, 8, 14, 85]
[1, 3, 4, 6, 8, 8, 14, 85, 100]

In [203]:
letters='hello world !'
asc_letters = sorted(letters)
print(letters)
print(asc_letters)

hello world !
[' ', ' ', '!', 'd', 'e', 'h', 'l', 'l', 'l', 'o', 'o', 'r', 'w']

In [210]:
foods = ['yellow','Cookies', 'pizza', 'Mango', 'pie']
asc_foods = sorted(foods)
print(asc_foods)
foods.sort(reverse=True)
print(foods)

['Cookies', 'Mango', 'pie', 'pizza', 'yellow']
['yellow', 'pizza', 'pie', 'Mango', 'Cookies']

In [212]:
foods = ['yellow','Cookies', 'pizza', 'Mango', 'pie']
asc_foods = sorted(foods, key=lambda w: w.lower(), reverse=True)
print(asc_foods)

['yellow', 'pizza', 'pie', 'Mango', 'Cookies']

In [216]:
numbers = [0,1,2,3,4,5]
print(numbers.index(5))
numbers *= 2
print(numbers)
print(numbers.index(5,7))

5
[0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5]
11

In [224]:
numbers = [0,1,2,2,3,4,5,6]
print(numbers.index(2,0,5))
print(numbers.index(3,0,5))

2
4

In [220]:
numbers.index?

Signature: numbers.index(value, start=0, stop=9223372036854775807, /)
Docstring:
Return first index of value.

Raises ValueError if the value is not present.
Type:      builtin_function_or_method

In [226]:
numbers = [67,12,46,43,13]
print(numbers.index(43))

3

In [239]:
numbers = [67,12,46,43,13]

def get_num(item, list):
    try:
        return list.index(item)
    except ValueError:
        return None
        
get_num(500, numbers)