In [3]:
capitals1 = {'Belgium': 'Brussels', 'Haiti': 'Port-au-Prince'}
capitals2 = {'Haiti': 'Port-au-Prince', 'Belgium': 'Brussels'}
capitals1 == capitals2

True

In [6]:
grade_book = {
    'anne': [98,99,88,81],
    'bob': [50,65,75,70],
    'sara': [88, 90, 75, 89]
}

all_grades_total = 0
all_grades_count = 0

for name, grades in grade_book.items():
    total = sum(grades)
    print(f'{name} has an average grade of {total/len(grades)}')
    print(name, grade)

anne has an average grade of 91.5
anne [88, 90, 75, 89]
bob has an average grade of 65.0
bob [88, 90, 75, 89]
sara has an average grade of 85.5
sara [88, 90, 75, 89]

In [9]:
text = ('the quick brown fox jumps over the'
        'lazy dog has a quick red fox that like apples')

word_counts = {}

for word in text.split():
    if word in word_counts:
        word_counts[word] += 1
    else:
        word_counts[word] = 1
        
print(f'{"WORD":<12}COUNT')

for word, count in sorted(word_counts.items()):
    print(f'{word:<12}{count}')

WORD        COUNT
a           1
apples      1
brown       1
dog         1
fox         2
has         1
jumps       1
like        1
over        1
quick       2
red         1
that        1
the         1
thelazy     1

In [13]:
for word in sorted(word_counts.keys(), key=lambda word: word_counts[word], reverse=True):
    count = word_counts[word]
    print(f'{word:<12}{count}')

quick       2
fox         2
the         1
brown       1
jumps       1
over        1
thelazy     1
dog         1
has         1
a           1
red         1
that        1
like        1
apples      1

In [17]:
from collections import Counter

text = ('the quick brown fox jumps over the'
        'lazy dog has a quick red fox that like apples and a lazy dog')

counter = Counter(text.split())
for word, count in sorted(counter.items()):
    print(f'{word:<12}{count}')

a           2
and         1
apples      1
brown       1
dog         2
fox         2
has         1
jumps       1
lazy        1
like        1
over        1
quick       2
red         1
that        1
the         1
thelazy     1

In [23]:
for word in sorted(counter.keys(), key=lambda word: counter[word]):
    count = counter[word]
    print(f'{word:<12}{count}')

the         1
brown       1
jumps       1
over        1
thelazy     1
has         1
red         1
that        1
like        1
apples      1
and         1
lazy        1
quick       2
fox         2
dog         2
a           2

In [35]:
import random

rand_nums = [random.randrange(1,6) for x in range(50)]
counter = Counter(rand_nums)
print(counter)
print(f'{"NUM":<12}FREQ')
for num, freq in counter.items():
    print(f'{num:<12}{freq}')

Counter({3: 12, 2: 11, 5: 9, 1: 9, 4: 9})
NUM         FREQ
2           11
3           12
5           9
1           9
4           9

In [38]:
print(f'{"NUM":<12}FREQ')
for num in sorted(counter.keys(), key=lambda num: counter[num]):
    freq = counter[num]
    print(f'{num:<12}{freq}')

NUM         FREQ
5           9
1           9
4           9
2           11
3           12

In [39]:
fruits = {}
fruits.update({'orange': 'sweet-sour'})
print(fruits)

{'orange': 'sweet-sour'}

In [41]:
fruits.update(
    apple='sweet-crunchy',
    lemon='yellow',
    mango='sweet'
    )
print(fruits)
fruits.update(lemon='sour')
print(fruits)

{'orange': 'sweet-sour', 'apple': 'sweet-crunchy', 'lemon': 'yellow', 'mango': 'sweet'}
{'orange': 'sweet-sour', 'apple': 'sweet-crunchy', 'lemon': 'sour', 'mango': 'sweet'}

In [44]:
months = {'jan': 1, 'feb': 2, 'dec': 12, 'jun': 6}

months2 = {number: name for name, number in months.items()}

months2

{1: 'jan', 2: 'feb', 12: 'dec', 6: 'jun'}

In [48]:
grade_book = {
    'anne': [98,99,88,81],
    'bob': [50,65,75,70],
    'sara': [88, 90, 75, 89]
}

grades2 = {k: sum(v)/len(v) for k,v in grade_book.items()}
print(grades2)

{'anne': 91.5, 'bob': 65.0, 'sara': 85.5}

In [52]:
[num for num in range(1,6)]
{num: num**3 for num in range(1,6)}

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

In [61]:
my_list = [random.randrange(1,50) for num in range(10)]

In [63]:
{num: num**3 for num in range(1, 6)}

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

In [65]:
grade_book = {
    'anne': [98,99,88,81],
    'bob': [50,65,75,70],
    'sara': [88, 90, 75, 89]
}

all_grades = [grade for grades in grade_book.values() for grade in grades]
all_grades

[98, 99, 88, 81, 50, 65, 75, 70, 88, 90, 75, 89]

In [66]:
fruit = {'avocado', 'apple', 'mango', 'peach', 'mango'}
fruit

{'apple', 'avocado', 'mango', 'peach'}

In [68]:
for fruit in fruits:
    print(fruit.upper(), end=" ")

ORANGE APPLE LEMON MANGO

In [69]:
nums = [4,5,7,2,1,1,1,7]
set(nums)

{1, 2, 4, 5, 7}

In [72]:
str = 'the quick brown fox jumps over the lazy dog like the slow red fox more than the other dog'

my_set = set(str.split())
print(sorted(my_set))

['brown', 'dog', 'fox', 'jumps', 'lazy', 'like', 'more', 'other', 'over', 'quick', 'red', 'slow', 'than', 'the']

In [80]:
counter = Counter(str.split())

print({word:freq for word, freq in counter.most_common()})

{'the': 4, 'fox': 2, 'dog': 2, 'quick': 1, 'brown': 1, 'jumps': 1, 'over': 1, 'lazy': 1, 'like': 1, 'slow': 1, 'red': 1, 'more': 1, 'than': 1, 'other': 1}

In [100]:
{20, 10} > {10, 10, 10, 10, 10}
len({10, 10, 10, 10, 10})

1

In [91]:
{1,3,5}.issubset({1,3,5,10})

True

In [105]:
set('abc def ghi jkl mno') >= set('hi mom')
set('abc def ghi jkl mno').issuperset('hi mom')

True

In [106]:
{1,2,3}|{3,2,1}

{1, 2, 3}

In [108]:
{7,1,2,3}.union([1,2,7,3,4,5,6])

{1, 2, 3, 4, 5, 6, 7}

In [109]:
{1,3,5,7}.difference([1,3,5,6])

{7}

In [114]:
{1,3,5}^{1,3,4}

{4, 5}

In [112]:
{1,3,5}.symmetric_difference([1,3,5,7])

{7}

In [120]:
a = {10,20,30}
b = {5,10,15,20}

print(a - b) #set of a excluding elements in b
print(b - a)
print(a ^ b)
print(a | b)
print(a & b)

{30}
{5, 15}
{5, 30, 15}
{20, 5, 10, 30, 15}
{10, 20}

In [124]:
numbers = {1,3,5}
numbers |= {2,3,4}
numbers

{1, 2, 3, 4, 5}

In [125]:
numbers = {1,3,5}
numbers &= {2,3,4}
numbers

{3}

In [128]:
numbers = [1,2,2,3,4,5,6,6,7,8,9,10,10]
evens = {item for item in numbers if item % 2 == 0}
evens

{2, 4, 6, 8, 10}