In [1]:
def square(number):
    return (number**2)

print(square(7))

49

In [4]:
def print_args(*args):
    print(f"The arguments are {args}")
    
print_args(1,2,3)

The arguments are (1, 2, 3)

In [7]:
def return_tuple(a, b):
    return(a,b)

a,b = return_tuple(13,19)

print(a)
print(b)

13
19

In [9]:
def return_list(a,b):
    return [a,b]

a,b = return_list(3,7)

print(a)
print(b)

3

In [11]:
ret = (lambda x: x*5)
ret(2)

10

In [12]:
(lambda x: x*5)(7)

35

In [14]:
sum?

Signature: sum(iterable, /, start=0)
Docstring:
Return the sum of a 'start' value (default: 0) plus an iterable of numbers

When the iterable is empty, return the start value.
This function is intended specifically for use with numeric values and may
reject non-numeric types.
Type:      builtin_function_or_method

In [15]:
sum([1,2,3])

6

In [18]:
for x in range(10):
    print(x, end = " ")

0 1 2 3 4 5 6 7 8 9

In [21]:
from math import sqrt

def sq_root(num):
    print(num)
    return num**0.5

sq_root(25)

5.0

In [26]:
is_odd = lambda x: x %2 == 1
values = [1,2,3,4,5]
print(map(is_odd, values))
print(all(map(is_odd, values)))
print(any(map(is_odd, values)))
print(*filter(is_odd, values))

<map object at 0x7fbf2734d940>
False
True
1 3 5

In [36]:
def fruits(n):
   print(n)

next(map(fruits, ('apple', 'banana', 'cherry')))

apple
apple

In [39]:
def fruits(n):
   return n

print([*map(fruits, ('apple', 'banana', 'cherry'))])

['apple', 'banana', 'cherry']

In [44]:
import random

for roll in range(10):
    print(random.randrange(1,100), end=" ")

96 62 1 84 53 70 38 23 56 18

In [49]:
def combine_fruit(a,b):
    return a + b

x = map(combine_fruit, ('apple', 'orange'), ('pear', 'banana'))
print(list(x))

['applepear', 'orangebanana']

In [54]:
random.randrange(0, 100, 1)

26

In [63]:
def toss_coin():
    for i in range(20):
        coin = random.randrange(2)
        if coin % 2 == 0 :
            print('H', end=" ")
        else:
            print('T', end=" ")
        
toss_coin()

T T H H T H T T T H T H T T H T T H T T

In [77]:
def toss_coin():
    for i in range(20):
        coin = random.randrange(2)
        print('H' if coin % 2 == 0 else 'T', end=" ")
        
toss_coin()

H H T H T T T T H H T T H T T H T H T T

In [64]:
random.choice(["H", "T"])

'T'

In [68]:
outcomes = ["H", "T"]

for i in range(20):
    print(random.choice(outcomes), end=" ")

H T H H T H H T H T H H H H T H T H H T

In [71]:
tup = (1,2)

print(sum(tup))

3

In [81]:
def roll_dice():
    die1 = random.randrange(1,7)
    die2 = random.randrange(1,7)
    return (die1, die2)

def display_dice(dice):
    die1, die2 = dice
    print(f"Player rolled {die1} + {die2} = {sum(dice)}")
    
die_values = roll_dice()
display_dice(die_values)
sum_of_dice = sum(die_values)

Player rolled 6 + 6 = 12
12

In [85]:
1 in (1,2)
10 in (1,2,7)

False

In [92]:
student = ('Sue', [89, 91])
print(student)
name, grades = student
print(name)
print(grades)

('Sue', [89, 91])
Sue
[89, 91]

In [96]:
import math
math.pow?
math.fabs?

Signature: math.fabs(x, /)
Docstring: Return the absolute value of the float x.
Type:      builtin_function_or_method

In [101]:
def rect_area(length=2, width=3):
    """Return the area of rectangle"""
    return length * width
print(rect_area(3,7))
print(rect_area(2,10))

21
20

In [112]:
def average(*args):
    print(args)
    print(f"The sum is {sum(args)} and the length is {len(args)}")
    return (sum(args), len(args))
    
the_sum, the_length = average(1,2,3)
print(the_sum)
print(the_length)

(1, 2, 3)
The sum is 6 and the length is 3
6
3

In [122]:
def calc_product(*args):
    result = 1
    for i in args:
        result *= i
    return result

print(calc_product(1,2,3))

6

In [124]:
def calc_pdt2(*nums):
    return reduce(operator.mul, nums)

calc_pdt()

TypeError: reduce() of empty sequence with no initial value

In [125]:
# Better error message
def calc_pdt2(num, *nums):
    return reduce(operator.mul, nums, num)

calc_pdt()

TypeError: reduce() of empty sequence with no initial value

In [120]:
from functools import reduce
import operator

def calc_pdt(num, *nums):
    return reduce(operator.mul, nums, num)

calc_pdt(1,2,3)
calc_pdt(*range(1,6,2))

6